body {
    background-image: url(../img/body.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.Img {
    border-radius: 25%;
    width: 5em;
    height: 5em;
    margin: 2%;
}

.nav {
    background-color: rgba(41, 39, 39, 0.5);
    color: white;
    margin: 2% 15% 0 15%;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

.button-nav {
    background-color: #5EB5BF;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 0.15em;
    margin: 1.5em 0 1.5em 1em;
    border-radius: 5px;
    border: solid #D91A4D 2px;
    text-decoration: none;
    transition: transform 0.8s;
}

.button-nav:active {
    transform: scale(0.8);
}

.general {
    background-color: rgba(56, 54, 54, 0.801);
    color: white;
    font-family: cursive;
    font-size: x-large;
    margin: 5% 15% 2% 15%;
    padding: 5% 6% 1% 6% ;
    border-radius: 5%;
}


